<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attendance Index</title>
   
	<link rel="stylesheet" type="text/css" th:href="@{/resources/templates/css/style.css}" />

</head>
<body>

    <h1>Welcome to Attendance Index</h1>
    
    <div class="nav-container">
        <div class="nav-item">
            <a class="nav-link" th:href="@{/attendance/list}">View Attendance</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" th:href="@{/attendance/matriccardreader}">Matric Card Reader</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" th:href="@{/attendance/fingerprintreader}">Fingerprint Reader</a>
        </div>
    </div>
</body>
</html>
