<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Attendance Recorded</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>  
<br>
	<h2>Your attendance has been successfully recorded.</h2>	
	<div>
		<div><strong>Name:</strong> <span th:text="${attendance.student.studentName}"></span></div>
		<br>
		<div><strong>Matric no:</strong> <span th:text="${attendance.student.matricNo}"></span></div>
		<br>
		<div><strong>Examination course:</strong> 
			<span th:text="${attendance.examination.course.courseName} +' - '+ ${attendance.examination.course.courseCode}">
			</span>
		</div>
		<br>
		<div><strong>Exam time:</strong> <span th:text="${attendance.examination.examTime}"></span></div>
		<br>
		<div><strong>Time attended:</strong> <span th:text="${attendance.attendTime}"></span></div>
		<br>
		<div><strong>Attendance status:</strong> <span th:text="${attendance.attendanceStatus}"></span></div>
		<br>
		<div><strong>Attendance type:</strong> <span th:text="${attendance.attendanceInputType}"></span></div>
	</div>
</body>
</html>